$base-font-family: 'Source Sans Pro', 'Helvetica Neue', Roboto, Arial, system-ui,
    BlinkMacSystemFont, 'Segoe UI', Roboto, -apple-system, sans-serif;
$title-font-family: 'PT Sans', 'Helvetica Neue', Roboto, Arial, system-ui,
    BlinkMacSystemFont, 'Segoe UI', Roboto, -apple-system, sans-serif;

$color-dark: #1d1d1d;
$color-dark-light: #323639;
$color-accent: #beee00;
$color-accent-dark: #aad500;
